<a href="https://colab.research.google.com/github/YuriiKlim/AI/blob/lesson3/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпорт модуля pandas

In [ ]:
import pandas as pd

Дані про пасажирів корабля:
* pclass -- клас білета(перший, другий або третій)
* sex -- стать
* age -- вік
* sibsp -- кількість братів\сестер та чоловіків\дружин на борту
* parch -- кількість дітей та батьків на борту
* fare -- вартість поїздки
* embarked -- Порт посадки (C = Шербур, Q = Квінстаун, S = Саутгемптон)

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/ship_passengers.csv",
                 index_col="Unnamed: 0")

In [ ]:
df

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [ ]:
df.info()

# Завдання 2
Скільки пасажирів сіло у Квінстауні?

In [ ]:
qub_passengers_count = df[df['embarked'] == 'Q']
qub_passengers_count

# Завдання 3
Виведіть стать, вік та вартість поїздки для пасажирів з білетом першого класу

In [ ]:
first_class_passengers = df[df['pclass'] == 1][['sex', 'age', 'fare']]
first_class_passengers

# Завдання 4
Ввиведіть дані про неповнолітніх чоловіків з Шербура

In [ ]:
minor_males = df[(df['sex'] == 'male') & (df['age'] < 18) & (df['embarked'] == 'C')]
minor_males

# Завдання 5
Створіть новий стовпчик relatives -- загальна кількість родичів на борту для кожного пасажира

In [ ]:
df['relatives'] = df['sibsp'] + df['parch']
df

# Завдання 6
Видаліть стовпчик, в якому найбільше пропусків. Якщо пропущені значення ще залишаться, видаліть рядки з пропусками

In [ ]:
missing_values_count = df.isnull().sum()
column_with_most_missing = missing_values_count.idxmax()
df_dropped_column = df.drop(columns=[column_with_most_missing])
df_cleaned = df_dropped_column.dropna()
df_cleaned